* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --black: #121212;
  --white: #fafafa;
}

body {
  color: var(--black);
}

#root {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}